/*
 * $Id$
 */

/*** basic text styles ***/

body {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  color: #000;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
  font-weight: bold;
}
p, li, td, dt, dd {
  font-size: 14px;
}
p, ul {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
dd {
  margin-bottom: 0.7em;
}
li {
  margin-bottom: 0.2em;
}
p#vcinfo, p#copyright {
  font-size: 12px;
}
tt, pre {
  font-family: Courier, "Courier New", monospace;
  font-size: 13px;
}
a:link, a:visited, a:hover {
  color: #f46800;
}
a:hover {
  background-color: #f0f0f0;
}
a:active {
  color: #ffc63b;
  background-color: #fff;
}

/*** basic layout ***/

body {
  background: #fff url(/img/back.png) repeat-y;
  margin: 0;
  padding: 0;
}
div {
  margin: 0;
  padding: 0;
}
#sidebar {
  width: 160px;
  position: absolute;
  top: 0px;
  left: 8px;
  background-color: #f0f0f0;
}
#content {
  padding: 1em 2em 0;
  margin-left: 168px;
  background-color: #fff;
  min-width: 20em;
  max-width: 45em;
}

/*** content area styles ***/

#trail {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 4pt;
}
#content h1 {
  padding: 0 2em 0 0;
  margin-top: 0;
  text-align: center;
}
#content h1#hometitle {
  margin-top: 0.5em;
}
#content h2 {
  margin-left: -8pt;
  margin-right: -8pt;
  padding-left: 0.2em;
  padding-right: 8pt;
  border-bottom: 1px solid #ccc;
  clear: both;
}
#content pre, #content table {
  margin-left: 6pt;
  margin-right: 6pt;
}
p#pagelink {
  margin-top: 1.5em;
  text-align: center;
}

#footer {
  margin: 1.5em -8pt 0;
  padding: 0.7em 8pt 1em;
  border-top: 1px solid #ccc;
}
p#vcinfo {
  float: left;
  width: 55%;
  text-align: left;
  margin: 0;
}
p#copyright {
  float: right;
  width: 42%;
  text-align: right;
  margin: 0;
}
#footerclear {
  clear: both;
}

/*** sidebar styles ***/

#sitelogo, #sflogo, #sfhead {
  margin: 0;
  background-color: #d8d8d8;
  border-bottom: 1px solid #fff;
}
#sitelogo {
  padding: 0;
  text-align: center;
}
#sflogo {
  padding: 4px 8px;
  text-align: center;
}
#sflogo img {
  margin: 3px;
}
#sflogo a {
  background-color: #d8d8d8;
}
#sfhead {
  padding: 4px 8px;
}
.navlist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navlist li {
  display: inline;
  margin: 0;
  padding: 0;
}
.navlist a {
  display: block;
  margin: 0;
  padding: 3px 8px;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}
.navlist a:link, .navlist a:visited {
  background-color: #f0f0f0;
}
.navlist a:hover {
  color: #d55a00;
  background-color: #d8d8d8;
}
.navlist a:active {
  color: #ffc63b;
  background-color: #fff;
}
.navlist a.sublink {
  padding-left: 16px;
}

/* EOF */
